* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Lato", sans-serif;
}
.book .container {
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding-top: 30px;
  padding-bottom: 30px;
}
form {
  width: 78%;
}
#form_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.submit {
}
